body {
    background-color: lightgoldenrodyellow;
    font-family: Avenir, serif;
}


h3 {
    color: lightgoldenrodyellow;
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
}

button{

    background-color: #cd853f;
    border-radius: 15px;
}

.message_sent{

    border: 2px solid #cd853f;
    background-color: ivory;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-align: right;
}

.message_received{
    border: 2px solid #cd853f;
    background-color: cornsilk;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
}

#title{

    background-color: #cd853f;
}

#chat-holder{

    margin: auto;
    font-size: 15px;
    background-color: #ffcc99;
    width: 1110px;
    height: 510px;
    overflow: scroll;

}

#send{

    position: relative;
    bottom: 30px;
}

.message_text{

    font-size: 20px;

}
.color{
    color: #cd853f;
}