body {
    background-color: lightgoldenrodyellow;
    font-family: Avenir, serif;
}

b{

    font-size: 20px;
}

h1{
    text-align: center;

}

#bigger{

    font-size: 15px;

}

.color{
    color: #cd853f;
}

.info-therapist{

    text-align: center;
    border-top-color: #cd853f;
    border-bottom-color: #cd853f ;
}

.submit{

    border-radius: 15px;
}