body {
    background-color: lightgoldenrodyellow;
    font-family: Avenir, serif;
}

a{
    color: goldenrod;
}

h1 {
    color: peru;
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
}

#error-field{
    color: firebrick;
}

.hidden{
    visibility: hidden;
}